// variable -----------------------------------------
$cWhite: white;
$cBlack: black;
$cLightBlue: #8faadc;
$cBlue: #4e70be;
$cGray: #808080;
$cLightBlack: #404040;
$cLightGray: #bfbfbf;
$contentMaxWidth: 1260px;
$navHeight: 110px;
$pdLR: 30px;

// breakpoints -----------------------------------------
$breakpoints: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 600px)',
  'lg': 'screen and (min-width: 960px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* general ----------------------------------------- */
body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  color: $cLightBlack;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: $cLightBlack;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

button {
  all: unset;
}

select,
input[type='text'],
input[type='email'] {
  height: 50px;
  padding: 0 5px;
}
input[type='radio'] {
  width: 20px;
  height: 50px;
}

/* common  ----------------------------------------- */
.main-title {
  font-size: 28px;
  font-weight: bold;
}
.sub-title {
  font-size: 20px;
}
.content-width {
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 0 $pdLR;
}
.select-common {
  width: 160px;
}
.input-name {
  width: 200px;
}
.input-email {
  width: 240px;
}
.err-msg {
  height: 20px;
  padding-left: 5px;
  margin-top: 3px;
  color: red;
}
.btn {
  background-color: $cBlue;
  cursor: pointer;
  a {
    display: block;
    padding: 10px 20px;
    color: $cWhite;
    font-weight: bold;
  }
}

/* member-mst.html ----------------------------------------- */
.member-mst {
  header {
    background-color: $cLightBlue;
    height: $navHeight;
  }
  .hd-nav {
    width: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto;
    height: 100%;
    &__ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    &__item {
      padding: 5px 30px;
      color: $cWhite;
      font-weight: bold;
      a {
        color: $cWhite;
        display: block;
      }
    }
    &__btn {
      button {
        margin: 5px 30px;
      }
    }
  }
  .member-search {
    margin-top: 40px;
    margin-bottom: 20px;
    &__title {
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    &__form-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      label {
        display: block;
        margin: 0 3px 0 10px;
        line-height: 1.3;
      }
      label[for='venue'] {
        margin-left: 0;
      }
    }
    &__form-group-button {
      margin-left: auto;
      margin-bottom: 20px;
    }
  }
  .member-list-and-details {
    display: flex;
    justify-content: space-between;
  }
  .member-list {
    width: 45%;
    &__title {
      color: $cBlue;
      margin-bottom: 20px;
    }
    &__table-wrapper {
      overflow-y: scroll;
      max-height: 100vh;
    }
    &__table {
      width: 100%;
      border-collapse: collapse;
      thead {
        th {
          background-color: $cLightBlue;
          color: $cWhite;
        }
      }
      th,
      td {
        border: 1px solid $cGray;
        padding-top: 7px;
        padding-bottom: 7px;
      }
      td {
        padding-left: 3px;
      }
      .td-name {
        a {
          color: $cBlue;
        }
      }
    }
  }
  .member-details {
    width: 53%;
    .tab_item {
      width: calc(100% / 3);
      height: 62px;
      padding-top: 20px;
      line-height: 1;
      background-color: $cLightGray;
      text-align: center;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      border-top: 3px solid $cGray;
      border-bottom: 3px solid $cGray;
      cursor: pointer;
      &.member-info-tab {
        border-left: 3px solid $cGray;
      }
      &.my-venue-tab {
        border-left: 3px solid $cGray;
        border-right: 3px solid $cGray;
      }
      &.other-venue-tab {
        border-right: 3px solid $cGray;
      }
    }
    input[name='tab_item'] {
      display: none;
    }
    .tab_content {
      display: none;
      clear: both;
      overflow: hidden;
      border-left: 3px solid $cGray;
      border-right: 3px solid $cGray;
      border-bottom: 3px solid $cGray;
      padding: 40px $pdLR;
    }
    #member-info:checked ~ #member-info_content,
    #my-venue:checked ~ #my-venue_content,
    #other-venue:checked ~ #other-venue_content {
      display: block;
    }
    .tabs input:checked + .tab_item {
      background-color: $cWhite;
      border-bottom: none;
      cursor: auto;
    }
  }
  .member-info {
    &__title {
      color: $cBlue;
      padding-bottom: 20px;
    }
    &__form-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      label {
        width: 20%;
      }
      input,
      select,
      textarea,
      .err-msg {
        width: 78%;
      }
      .err-msg {
        margin-left: auto;
      }
    }
    &__form-group-radio {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
      .title {
        width: 20%;
      }
      .radio-buttons,
      .err-msg {
        width: 78%;
      }
      .radio-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        label {
          margin: 0 12px 0 3px;
        }
      }
      .err-msg {
        margin-left: auto;
      }
    }
    &__form-group-zip-code {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
      label {
        width: 20%;
      }
      // input {
      //   width: 100px;
      //   margin-right: 10px;
      // }
      .zip-code-contents,
      .err-msg {
        width: 78%;
      }
      .zip-code-contents {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        input,
        button {
          width: 48%;
        }
        button {
          text-align: center;
        }
      }
      .err-msg {
        margin-left: auto;
      }
    }
    &__form-required-item {
      font-size: 14px;
      font-weight: bold;
      color: $cWhite;
      background-color: $cLightBlue;
      padding: 3px 5px;
      letter-spacing: 2px;
    }
  }
}
