// variable -----------------------------------------
$cWhite: white;
$cBlack: black;
$cLightBlue: #8faadc;
$cBlue: #4e70be;
$cGray: #808080;
$cLightBlack: #404040;
$cLightGray: #bfbfbf;
$cRed: #e16363;
$contentMaxWidth: 1260px;
$navHeight: 90px;
$pdLR: 30px;

// breakpoints -----------------------------------------
$breakpoints: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 600px)',
  'lg': 'screen and (min-width: 960px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* general ----------------------------------------- */
body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  color: $cLightBlack;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: $cLightBlack;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

button {
  all: unset;
}

select,
input[type='text'],
input[type='email'],
input[type='date'] {
  height: 44px;
  padding: 0 5px;
}
input[type='radio'] {
  width: 20px;
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  th {
    background-color: $cLightBlue;
    color: $cWhite;
  }
}

th,
td {
  border: 1px solid $cGray;
  padding-top: 7px;
  padding-bottom: 7px;
}
td {
  padding-left: 3px;
}

/* common class ----------------------------------------- */
.main-title {
  font-size: 28px;
  font-weight: bold;
}

.sub-title {
  font-size: 20px;
}

.content-width {
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 0 $pdLR;
}

.select-common {
  width: 200px;
}

.input-name {
  width: 200px;
}

.input-email {
  width: 250px;
}

.err-msg {
  height: 20px;
  padding-left: 5px;
  margin-top: 3px;
  color: $cRed;
}

.btn {
  background-color: $cBlue;
  cursor: pointer;
  padding: 10px 20px;
  color: $cWhite;
  font-weight: bold;
}

.btn-with-a {
  background-color: $cBlue;
  cursor: pointer;
  a {
    display: block;
    padding: 10px 20px;
    color: $cWhite;
    font-weight: bold;
  }
}

/* member-mst.html ----------------------------------------- */
.member-mst {
  padding-bottom: 100px;
  header {
    background-color: $cLightBlue;
    height: $navHeight;
    margin-bottom: 40px;
  }
  .hd-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    &__ul-left,
    &__ul-right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__ul-left {
      width: 230px;
      column-gap: 60px;
      @include mq(lg) {
        width: 460px;
      }
      flex-shrink: 0;
    }
    &__ul-right {
      justify-content: flex-end;
      column-gap: 30px;
    }
    &__item {
      color: $cWhite;
      font-weight: bold;
      line-height: 1;
      a {
        color: $cWhite;
        display: block;
      }
    }
  }
  .member-search {
    width: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto 40px;
    &__title {
      margin: 0 0 15px 30px;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      column-gap: 20px;
    }
    &__form-group {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 2px;
      }
    }
    &__form-group-button {
      margin-bottom: 23px;
    }
  }
  .member-list-and-details {
    display: flex;
    justify-content: space-between;
  }
  .member-list {
    width: 45%;
    &__title {
      color: $cBlue;
      margin-bottom: 20px;
    }
    &__table-wrapper {
      overflow-y: scroll;
      max-height: 85vh;
    }
    &__table {
      .td-name {
        a {
          color: $cBlue;
        }
      }
    }
  }
  .member-details {
    width: 53%;
    .tab_item {
      width: calc(100% / 3);
      height: 62px;
      padding-top: 20px;
      line-height: 1;
      background-color: $cLightGray;
      text-align: center;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      border-top: 3px solid $cGray;
      border-bottom: 3px solid $cGray;
      cursor: pointer;
      &.member-info-tab {
        border-left: 3px solid $cGray;
      }
      &.my-venue-tab {
        border-left: 3px solid $cGray;
        border-right: 3px solid $cGray;
      }
      &.other-venue-tab {
        border-right: 3px solid $cGray;
      }
    }
    input[name='tab_item'] {
      display: none;
    }
    .tab_content {
      display: none;
      clear: both;
      overflow: hidden;
      border-left: 3px solid $cGray;
      border-right: 3px solid $cGray;
      border-bottom: 3px solid $cGray;
      padding: 40px $pdLR;
    }
    #member-info:checked ~ #member-info_content,
    #my-venue:checked ~ #my-venue_content,
    #other-venue:checked ~ #other-venue_content {
      display: block;
    }
    .tabs input:checked + .tab_item {
      background-color: $cWhite;
      border-bottom: none;
      cursor: auto;
    }
  }
  .member-info {
    &__title {
      color: $cBlue;
      padding-bottom: 20px;
    }
    &__form-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      .title {
        width: 20%;
      }
      .content,
      .err-msg {
        width: 78%;
      }
      .err-msg {
        margin-left: auto;
      }
    }
    &__form-group-radio {
      @extend .member-info__form-group;
      .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        label {
          margin: 0 12px 0 3px;
        }
      }
    }
    &__form-group-zip-code {
      @extend .member-info__form-group;
      .content {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        input,
        button {
          width: 48%;
        }
        button {
          text-align: center;
        }
      }
    }
    &__form-group-buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 50px;
      button {
        min-width: 22%;
        color: $cWhite;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        &.btn-clear {
          background-color: $cGray;
          padding: 10px 0;
        }
        &.btn-registration {
          background-color: $cBlue;
          padding: 10px 0;
        }
        &.btn-unsubscribe {
          background-color: $cBlack;
          a {
            display: block;
            padding: 10px 0;
            color: $cWhite;
          }
        }
        &.btn-deleated {
          background-color: $cRed;
          padding: 10px 0;
        }
      }
    }
    &__form-required-item {
      font-size: 14px;
      font-weight: bold;
      color: $cWhite;
      background-color: $cLightBlue;
      padding: 3px 5px;
      letter-spacing: 2px;
    }
  }
  // modal --------------------------------
  .unsubscribe-modal {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center;
    &:not(:target) {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }
    &:target {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.4s, visibility 0.4s;
    }
    &::after {
      display: inline-block;
      height: 100%;
      margin-left: -0.05em;
      vertical-align: middle;
      content: '';
    }
    &__window {
      box-sizing: border-box;
      display: inline-block;
      z-index: 20;
      position: relative;
      width: 80%;
      max-width: 700px;
      padding: 30px;
      background: $cWhite;
      vertical-align: middle;
    }
    &__overlay {
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
    }
    &__content {
      max-height: 80vh;
      overflow-y: auto;
      border: 3px solid $cGray;
    }
    &__close {
      z-index: 20;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 25px;
      height: 25px;
      color: $cLightBlack;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      text-indent: 0;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 25px;
        background: #333;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        color: #2b2e38 !important;
      }
    }
    &__title {
      color: $cWhite;
      background-color: $cLightBlue;
      height: 70px;
      line-height: 70px;
      text-align: left;
      padding-left: $pdLR;
    }
    &__content-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      label,
      .content {
        text-align: left;
      }
      .unsubscribe-buttons {
        justify-content: flex-start;
        button {
          min-width: 22%;
          color: $cWhite;
          text-align: center;
          font-weight: bold;
          padding: 10px 0;
          cursor: pointer;
          &.btn-unsubscribe-update {
            background-color: $cLightGray;
            margin-right: 30px;
          }
          &.btn-cancel {
            background-color: $cLightBlue;
          }
        }
      }
    }
  }
  .my-venue-content {
    &__title {
      color: $cBlue;
      padding-bottom: 20px;
    }
    &__name {
      display: flex;
      padding-bottom: 20px;
      .name,
      .member-type {
        margin-left: 30px;
      }
    }
  }
  .other-venue-content {
    &__title {
      color: $cBlue;
      padding-bottom: 20px;
    }
    &__name {
      display: flex;
      padding-bottom: 20px;
      .name,
      .member-type {
        margin-left: 30px;
      }
    }
  }
}
