/* general ----------------------------------------- */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #404040;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #404040;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
}

button {
  all: unset;
}

select,
input[type=text],
input[type=email],
input[type=date] {
  height: 40px;
  padding: 0 5px;
}

input[type=radio] {
  width: 20px;
  height: 40px;
}

/* common  ----------------------------------------- */
.main-title {
  font-size: 28px;
  font-weight: bold;
}

.sub-title {
  font-size: 20px;
}

.content-width {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.select-common {
  width: 160px;
}

.input-name {
  width: 200px;
}

.input-email {
  width: 240px;
}

.err-msg {
  height: 20px;
  padding-left: 5px;
  margin-top: 3px;
  color: red;
}

.btn {
  background-color: #4e70be;
  cursor: pointer;
}
.btn a {
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

/* member-mst.html ----------------------------------------- */
.member-mst header {
  background-color: #8faadc;
  height: 90px;
  margin-bottom: 40px;
}
.member-mst .hd-nav {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  height: 100%;
}
.member-mst .hd-nav__ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.member-mst .hd-nav__item {
  padding: 0 30px;
  color: white;
  font-weight: bold;
  line-height: 1;
}
.member-mst .hd-nav__item a {
  color: white;
  display: block;
}
.member-mst .hd-nav__btn button {
  margin: 0 30px;
}
.member-mst .member-search {
  margin-bottom: 40px;
}
.member-mst .member-search__title {
  margin-bottom: 15px;
}
.member-mst .member-search__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.member-mst .member-search__form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.member-mst .member-search__form-group label {
  display: block;
  margin: 0 3px 0 10px;
  line-height: 1.3;
}
.member-mst .member-search__form-group label[for=venue] {
  margin-left: 0;
}
.member-mst .member-search__form-group-button {
  margin-left: auto;
  margin-bottom: 20px;
}
.member-mst .member-list-and-details {
  display: flex;
  justify-content: space-between;
}
.member-mst .member-list {
  width: 45%;
}
.member-mst .member-list__title {
  color: #4e70be;
  margin-bottom: 20px;
}
.member-mst .member-list__table-wrapper {
  overflow-y: scroll;
  max-height: 100vh;
}
.member-mst .member-list__table {
  width: 100%;
  border-collapse: collapse;
}
.member-mst .member-list__table thead th {
  background-color: #8faadc;
  color: white;
}
.member-mst .member-list__table th,
.member-mst .member-list__table td {
  border: 1px solid #808080;
  padding-top: 7px;
  padding-bottom: 7px;
}
.member-mst .member-list__table td {
  padding-left: 3px;
}
.member-mst .member-list__table .td-name a {
  color: #4e70be;
}
.member-mst .member-details {
  width: 53%;
}
.member-mst .member-details .tab_item {
  width: 33.3333333333%;
  height: 62px;
  padding-top: 20px;
  line-height: 1;
  background-color: #bfbfbf;
  text-align: center;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  border-top: 3px solid #808080;
  border-bottom: 3px solid #808080;
  cursor: pointer;
}
.member-mst .member-details .tab_item.member-info-tab {
  border-left: 3px solid #808080;
}
.member-mst .member-details .tab_item.my-venue-tab {
  border-left: 3px solid #808080;
  border-right: 3px solid #808080;
}
.member-mst .member-details .tab_item.other-venue-tab {
  border-right: 3px solid #808080;
}
.member-mst .member-details input[name=tab_item] {
  display: none;
}
.member-mst .member-details .tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  border-left: 3px solid #808080;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  padding: 40px 30px;
}
.member-mst .member-details #member-info:checked ~ #member-info_content,
.member-mst .member-details #my-venue:checked ~ #my-venue_content,
.member-mst .member-details #other-venue:checked ~ #other-venue_content {
  display: block;
}
.member-mst .member-details .tabs input:checked + .tab_item {
  background-color: white;
  border-bottom: none;
  cursor: auto;
}
.member-mst .member-info__title {
  color: #4e70be;
  padding-bottom: 20px;
}
.member-mst .member-info__form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.member-mst .member-info__form-group label {
  width: 20%;
}
.member-mst .member-info__form-group input,
.member-mst .member-info__form-group select,
.member-mst .member-info__form-group textarea,
.member-mst .member-info__form-group .err-msg {
  width: 78%;
}
.member-mst .member-info__form-group .err-msg {
  margin-left: auto;
}
.member-mst .member-info__form-group-radio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.member-mst .member-info__form-group-radio .title {
  width: 20%;
}
.member-mst .member-info__form-group-radio .radio-buttons,
.member-mst .member-info__form-group-radio .err-msg {
  width: 78%;
}
.member-mst .member-info__form-group-radio .radio-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.member-mst .member-info__form-group-radio .radio-buttons label {
  margin: 0 12px 0 3px;
}
.member-mst .member-info__form-group-radio .err-msg {
  margin-left: auto;
}
.member-mst .member-info__form-group-zip-code {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.member-mst .member-info__form-group-zip-code label {
  width: 20%;
}
.member-mst .member-info__form-group-zip-code .zip-code-contents,
.member-mst .member-info__form-group-zip-code .err-msg {
  width: 78%;
}
.member-mst .member-info__form-group-zip-code .zip-code-contents {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.member-mst .member-info__form-group-zip-code .zip-code-contents input,
.member-mst .member-info__form-group-zip-code .zip-code-contents button {
  width: 48%;
}
.member-mst .member-info__form-group-zip-code .zip-code-contents button {
  text-align: center;
}
.member-mst .member-info__form-group-zip-code .err-msg {
  margin-left: auto;
}
.member-mst .member-info__form-required-item {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #8faadc;
  padding: 3px 5px;
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */